{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
