{% extends 'base.html' %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
<div class="row">
    {% for post in posts %}
    <div class="col-md-8 offset-md-2 mb-4">
        <div class="card">
            <img src="{{ post.preview_image.url }}" class="card-img-top" alt="{{ post.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|truncatechars_html:200 }}</p>
                <p class="card-text">Views: {{ post.views }}</p>
                <a href="{% url 'blogpost_detail' post.slug %}" class="btn btn-primary">Read more</a>
                <a href="{% url 'blogpost_edit' post.slug %}" class="btn btn-primary">Редактировать</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
